.w1qtnpbi{height:100vh !important;padding-top:120px;margin:0 auto;max-width:569px;}
.ta24pu8{font-size:20px;margin-bottom:36px;}
.nsgbdar{font-size:90px;font-weight:800;margin-bottom:36px;}
.p1b9sid{font-size:20px;}
.ez999bs{font-size:20px;}
