.t6ia1ek{font-size:60px;text-align:center;margin-top:12px;}
.ia8p8kn{max-width:670px;margin:0 auto;}
.wxfdfc3{height:100vh !important;width:100% !important;background:white;padding:120px 0;}
.cn4rqdq{padding-top:0;padding-bottom:0;}
