.wyqacl1{margin:0 auto 36px auto;width:100%;text-align:var(--wyqacl1-0);font-weight:var(--wyqacl1-1);cursor:var(--wyqacl1-2);-webkit-text-decoration:var(--wyqacl1-3);text-decoration:var(--wyqacl1-3);}.wyqacl1 a{color:black !important;-webkit-text-decoration:none !important;text-decoration:none !important;}
.l1vlszzr{font-size:var(--l1vlszzr-0);}
.l7qasmi{font-size:var(--l7qasmi-0);}
