.w1ydukp8{margin:0 auto 36px auto;text-align:var(--w1ydukp8-0);font-weight:var(--w1ydukp8-1);cursor:var(--w1ydukp8-2);-webkit-text-decoration:var(--w1ydukp8-3);text-decoration:var(--w1ydukp8-3);}
.c19do1c6{font-weight:var(--c19do1c6-0);cursor:var(--c19do1c6-1);}
.l1e9b92g{font-size:var(--l1e9b92g-0);}
.l1g8ld4y{font-size:var(--l1g8ld4y-0);}
.ngd2krl{font-size:20px;margin-bottom:8px;}
.dpetz27{font-size:16px;margin-top:0;}
