/* FONT DECLARATIONS
---------------------------------------------------------------
---------------------------------------------------------------*/

@font-face {
  font-family: 'Obviously Extended';
  src: url('../../fonts/WOFF2/Obviously-Extended.woff2') format('woff2'),
    url('../../fonts/WOFF/Obviously-Extended.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'Obviously Extended';
  src: url('../../fonts/WOFF2/Obviously-Extended_Bold.woff2') format('woff2'),
    url('../../fonts/WOFF/Obviously-Extended_Bold.woff') format('woff');
  font-weight: bold;
}
@font-face {
  font-family: 'Obviously';
  src: url('../../fonts/WOFF2/Obviously-Regular.woff2') format('woff2'),
    url('../../fonts/WOFF/Obviously-Regular.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'Obviously';
  src: url('../../fonts/WOFF2/Obviously-Bold.woff2') format('woff2'),
    url('../../fonts/WOFF/Obviously-Bold.woff') format('woff');
  font-weight: bold;
}

/* DEFAULT STYLING
---------------------------------------------------------------
---------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  overflow-y: overlay;
  font-family: Obviously !important;
  font-weight: 400;
  cursor: url('../assets/cursor.svg') 50 -50, auto !important;
}

a {
  cursor: url('../assets/cursor.svg') 50 -50, auto !important;
}

.dark,
.dark a {
  cursor: url('../assets/cursor_white.svg') 50 -50, auto !important;
}

html {
  box-sizing: border-box;
  overflow-y: overlay;
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
}

.center-text {
  text-align: center;
}

.full-height {
  height: 100% !important;
}

.icon_homepage {
  fill: black !important;
  color: black !important;
}

/* SCROLLBAR STYLING
---------------------------------------------------------------
---------------------------------------------------------------*/

::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background-color: black;
  z-index: 9999;
  border-radius: 50px;
}

/* NAVBAR AND MENU
---------------------------------------------------------------
---------------------------------------------------------------*/

#navbar {
  width: 100% !important;
  z-index: 999 !important;
  color: black;
  background: white;
  text-decoration: none;
  height: 94px;
}

#navbar.scrolled {
  box-shadow: 0 40px 40px -22px rgb(231, 231, 231) !important;
}

.dark #navbar.scrolled {
  box-shadow: 0 40px 40px -22px rgb(48, 48, 48) !important;
}

.navbar-content a {
  color: black !important;
  text-decoration: none;
}

#navbar .container {
  padding: 0 !important;
  width: 100% !important;
  padding: 0 5% !important;
}

.navbar-content {
  padding-top: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative !important;
  box-sizing: border-box;
}

.navbar-left {
  flex: 1 1 0;
}

.navbar-left a {
  display: block;
  height: fit-content;
  width: fit-content;
}

.navbar-title {
  width: 200px;
  height: 28px;
  margin: 0;
  top: 2px;
  position: relative;
  left: -26px;
}

.navbar-title img {
  width: 200px !important;
  height: 28px !important;
}

.navbar-right {
  width: fit-content;
}

.mobile-menu {
  position: absolute;
  padding-top: 50px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.418);
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  height: 100vh;
  transform-origin: 0 0;
  transform: translateX(120%);
  width: 100%;
  transition: all 0.275s 0.1s;
}

.mobile-menu.open {
  opacity: 1;
  z-index: 100;
  visibility: visible;
  transform: translateX(0%);
  width: 100%;
}

.mobile-menu-items {
  width: fit-content;
  margin-left: auto;
  background: transparent !important;
  overflow-y: auto;
  height: 100%;
  padding-top: 44px;
  margin-right: -25px;
  padding-right: 25px;
}

#mobile-submenu .mobile-menu-items::before {
  width: 100%;
  height: 25px;
  position: fixed;
  top: 110px;
  background: black;
  display: block;
  content: '';
  z-index: 800;
}

.mobile-menu-item {
  font-weight: normal;
  display: block;
  font-size: 30px;
  color: white;
  text-align: right;
  background: transparent !important;
  font-family: 'Obviously Extended';
  letter-spacing: 0;
  line-height: 80px;
}

.mobile-menu-item:hover {
  font-weight: bold;
  transition-duration: 0.25s;
  font-size: 40px;
}

#mobile-submenu.mobile-menu {
  padding-top: 113px;
}

#mobile-submenu .mobile-menu-items {
  padding-top: 73px;
}

@media (min-width: 569px) {
  .mobile-menu-item {
    font-weight: normal;
    display: block;
    font-size: 40px;
    color: white;
    text-align: right;
    background: transparent !important;
    font-family: 'Obviously Extended';
    letter-spacing: 0;
    line-height: 80px;
    width: fit-content;
    margin-left: auto;
  }

  .mobile-menu-item:hover {
    font-weight: bold;
    transition-duration: 0.25s;
    font-size: 60px;
  }
}

.mobile-menu-items::-webkit-scrollbar {
  width: 0.2em;
}
.mobile-menu-items::-webkit-scrollbar-track {
  background: black;
}
.mobile-menu-items::-webkit-scrollbar-thumb {
  background-color: white;
  z-index: 9999;
  border-radius: 50px;
  height: 20px;
}

.dark .mobile-menu,
.dark #mobile-submenu .mobile-menu {
  background: transparent;
}

/* BLUR + DARK STYLES
---------------------------------------------------------------
---------------------------------------------------------------*/

.blur {
  filter: blur(10px) !important;
  -webkit-filter: blur(10px) !important;
  color: rgb(170, 170, 170);
}

.wrapper-blur {
  filter: blur(10px) !important;
  -webkit-filter: blur(10px) !important;
}

.dark {
  background: black !important;
  color: white !important;
}

.dark a {
  color: white !important;
}

.dark::-webkit-scrollbar {
  width: 0.5em;
}
.dark::-webkit-scrollbar-track {
  background: black;
}
.dark::-webkit-scrollbar-thumb {
  background-color: white;
  z-index: 9999;
  border-radius: 50px;
}

/* CONTAINER STYLES
---------------------------------------------------------------
---------------------------------------------------------------*/

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1350px;
  padding: 12px 12px;
}

@media (min-width: 540px) {
  .container {
    margin: 0 auto;
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media (min-width: 769px) {
  .container {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (min-width: 1220px) {
  .container {
    padding-left: 48px;
    padding-right: 48px;
  }
}

/* GRID SYSTEM
---------------------------------------------------------------
---------------------------------------------------------------*/

.col {
  padding: 8px 0;
  margin: 0;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  display: block;
}

.row.mobile {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px 0 -8px;
  width: calc(100% + 16px);
}

.row.mobile > .col {
  padding: 8px;
}

.row.mobile > .col-1,
.row.mobile .mobile-col-1 {
  width: 8.33333%;
  flex: none;
}
.row.mobile > .col-2,
.row.mobile .mobile-col-2 {
  width: 16.66%;
  flex: none;
}
.row.mobile > .col-3,
.row.mobile .mobile-col-3 {
  width: 25%;
  flex: none;
}
.row.mobile > .col-4,
.row.mobile .mobile-col-4 {
  width: 33.33333%;
  flex: none;
}
.row.mobile > .col-5,
.row.mobile .mobile-col-5 {
  width: 41.66667%;
  flex: none;
}
.row.mobile > .col-6,
.row.mobile .mobile-col-6 {
  width: 50%;
  flex: none;
}
.row.mobile > .col-7,
.row.mobile .mobile-col-7 {
  width: 58.33333%;
  flex: none;
}
.row.mobile > .col-8,
.row.mobile .mobile-col-8 {
  width: 66.66667%;
  flex: none;
}
.row.mobile > .col-9,
.row.mobile .mobile-col-9 {
  width: 75%;
  flex: none;
}
.row.mobile > .col-10,
.row.mobile .mobile-col-10 {
  width: 83.33333%;
  flex: none;
}
.row.mobile > .col-11,
.row.mobile .mobile-col-11 {
  width: 91.66667%;
  flex: none;
}
.row.mobile > .col-12,
.row.mobile .mobile-col-12 {
  width: 100%;
  flex: none;
}

.row.mobile .auto,
.mobile-auto {
  flex: 1 1 0;
}

/* mobile-lg */
@media (min-width: 540px) {
  .row.mobile-lg {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 0 -8px;
    width: calc(100% + 16px);
  }

  .row.mobile-lg > .col {
    padding: 8px;
  }

  .row.mobile-lg .auto,
  .mobile-auto {
    flex: 1 1 0 !important;
  }

  .row.mobile-lg > .col-1 {
    width: 8.33333%;
    flex: none;
  }
  .row.mobile-lg > .col-2 {
    width: 16.66%;
    flex: none;
  }
  .row.mobile-lg > .col-3 {
    width: 25%;
    flex: none;
  }
  .row.mobile-lg > .col-4 {
    width: 33.33333%;
    flex: none;
  }
  .row.mobile-lg > .col-5 {
    width: 41.66667%;
    flex: none;
  }
  .row.mobile-lg > .col-6 {
    width: 50%;
    flex: none;
  }
  .row.mobile-lg > .col-7 {
    width: 58.33333%;
    flex: none;
  }
  .row.mobile-lg > .col-8 {
    width: 66.66667%;
    flex: none;
  }
  .row.mobile-lg > .col-9 {
    width: 75%;
    flex: none;
  }
  .row.mobile-lg > .col-10 {
    width: 83.33333%;
    flex: none;
  }
  .row.mobile-lg > .col-11 {
    width: 91.66667%;
    flex: none;
  }
  .row.mobile-lg > .col-12 {
    width: 100%;
    flex: none;
  }

  .row > .col.mobile-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row > .col.mobile-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row > .col.mobile-col-3 {
    flex: none;
    width: 25%;
  }
  .row > .col.mobile-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row > .col.mobile-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row > .col.mobile-col-6 {
    flex: none;
    width: 50%;
  }
  .row > .col.mobile-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row > .col.mobile-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row > .col.mobile-col-9 {
    flex: none;
    width: 75%;
  }
  .row > .col.mobile-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row > .col.mobile-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row > .col.mobile-col-12 {
    flex: none;
    width: 100%;
  }

  .row > .col.mobile-lg-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row > .col.mobile-lg-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row > .col.mobile-lg-col-3 {
    flex: none;
    width: 25%;
  }
  .row > .col.mobile-lg-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row > .col.mobile-lg-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row > .col.mobile-lg-col-6 {
    flex: none;
    width: 50%;
  }
  .row > .col.mobile-lg-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row > .col.mobile-lg-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row > .col.mobile-lg-col-9 {
    flex: none;
    width: 75%;
  }
  .row > .col.mobile-lg-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row > .col.mobile-lg-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row > .col.mobile-lg-col-12 {
    flex: none;
    width: 100%;
  }

  .mobile-lg-auto {
    flex: 1 1 0 !important;
  }

  .row.desktop > .col,
  .row.widescreen > .col,
  .row > .col {
    width: 100%;
    display: block;
    padding: 8px 0;
  }
}

/* Tablet */
@media (min-width: 769px) {
  .row.tablet,
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 0 -8px;
    width: calc(100% + 16px);
  }

  .row.tablet > .col,
  .row > .col {
    padding: 8px;
  }

  .row > .col.col-1 {
    width: 8.33333%;
    flex: none;
  }
  .row > .col.col-2 {
    width: 16.66%;
    flex: none;
  }
  .row > .col.col-3 {
    width: 25%;
    flex: none;
  }
  .row > .col.col-4 {
    width: 33.33333%;
    flex: none;
  }
  .row > .col.col-5 {
    width: 41.66667%;
    flex: none;
  }
  .row > .col.col-6 {
    width: 50%;
    flex: none;
  }
  .row > .col.col-7 {
    width: 58.33333%;
    flex: none;
  }
  .row > .col.col-8 {
    width: 66.66667%;
    flex: none;
  }
  .row > .col.col-9 {
    width: 75%;
    flex: none;
  }
  .row > .col.col-10 {
    width: 83.33333%;
    flex: none;
  }
  .row > .col.col-11 {
    width: 91.66667%;
    flex: none;
  }
  .row > .col.col-12 {
    width: 100%;
    flex: none;
  }

  .row > .col.mobile-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row > .col.mobile-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row > .col.mobile-col-3 {
    flex: none;
    width: 25%;
  }
  .row > .col.mobile-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row > .col.mobile-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row > .col.mobile-col-6 {
    flex: none;
    width: 50%;
  }
  .row > .col.mobile-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row > .col.mobile-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row > .col.mobile-col-9 {
    flex: none;
    width: 75%;
  }
  .row > .col.mobile-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row > .col.mobile-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row > .col.mobile-col-12 {
    flex: none;
    width: 100%;
  }

  .row > .col.mobile-lg-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row > .col.mobile-lg-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row > .col.mobile-lg-col-3 {
    flex: none;
    width: 25%;
  }
  .row > .col.mobile-lg-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row > .col.mobile-lg-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row > .col.mobile-lg-col-6 {
    flex: none;
    width: 50%;
  }
  .row > .col.mobile-lg-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row > .col.mobile-lg-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row > .col.mobile-lg-col-9 {
    flex: none;
    width: 75%;
  }
  .row > .col.mobile-lg-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row > .col.mobile-lg-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row > .col.mobile-lg-col-12 {
    flex: none;
    width: 100%;
  }

  .mobile-lg-auto,
  .row.tablet .auto,
  .auto,
  .mobile-auto {
    flex: 1 1 0 !important;
  }

  .row > .col.tablet-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row > .col.tablet-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row > .col.tablet-col-3 {
    flex: none;
    width: 25%;
  }
  .row > .col.tablet-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row > .col.tablet-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row > .col.tablet-col-6 {
    flex: none;
    width: 50%;
  }
  .row > .col.tablet-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row > .col.tablet-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row > .col.tablet-col-9 {
    flex: none;
    width: 75%;
  }
  .row > .col.tablet-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row > .col.tablet-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row > .col.tablet-col-12 {
    flex: none;
    width: 100%;
  }

  > .col.tablet-auto {
    flex: 1 1 0 !important;
  }

  .row.desktop > .col,
  .row.widescreen > .col {
    display: block;
    width: 100%;
    flex: none;
    padding: 8px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .row.desktop {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 0 -8px;
    width: calc(100% + 16px);
  }

  .row.desktop > .col {
    padding: 8px;
    flex: 1 1 0;
  }

  .row.desktop > .col-1 {
    width: 8.33333%;
    flex: none;
  }
  .row.desktop > .col-2 {
    width: 16.66%;
    flex: none;
  }
  .row.desktop > .col-3 {
    width: 25%;
    flex: none;
  }
  .row.desktop > .col-4 {
    width: 33.33333%;
    flex: none;
  }
  .row.desktop > .col-5 {
    width: 41.66667%;
    flex: none;
  }
  .row.desktop > .col-6 {
    width: 50%;
    flex: none;
  }
  .row.desktop > .col-7 {
    width: 58.33333%;
    flex: none;
  }
  .row.desktop > .col-8 {
    width: 66.66667%;
    flex: none;
  }
  .row.desktop > .col-9 {
    width: 75%;
    flex: none;
  }
  .row.desktop > .col-10 {
    width: 83.33333%;
    flex: none;
  }
  .row.desktop > .col-11 {
    width: 91.66667%;
    flex: none;
  }
  .row.desktop > .col-12 {
    width: 100%;
    flex: none;
  }

  .row.desktop .mobile-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row.desktop .mobile-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row.desktop .mobile-col-3 {
    flex: none;
    width: 25%;
  }
  .row.desktop .mobile-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row.desktop .mobile-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row.desktop .mobile-col-6 {
    flex: none;
    width: 50%;
  }
  .row.desktop .mobile-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row.desktop .mobile-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row.desktop .mobile-col-9 {
    flex: none;
    width: 75%;
  }
  .row.desktop .mobile-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row.desktop .mobile-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row.desktop .mobile-col-12 {
    flex: none;
    width: 100%;
  }

  .row.desktop .mobile-lg-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row.desktop .mobile-lg-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row.desktop .mobile-lg-col-3 {
    flex: none;
    width: 25%;
  }
  .row.desktop .mobile-lg-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row.desktop .mobile-lg-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row.desktop .mobile-lg-col-6 {
    flex: none;
    width: 50%;
  }
  .row.desktop .mobile-lg-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row.desktop .mobile-lg-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row.desktop .mobile-lg-col-9 {
    flex: none;
    width: 75%;
  }
  .row.desktop .mobile-lg-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row.desktop .mobile-lg-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row.desktop .mobile-lg-col-12 {
    flex: none;
    width: 100%;
  }

  .row.desktop .tablet-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row.desktop .tablet-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row.desktop .tablet-col-3 {
    flex: none;
    width: 25%;
  }
  .row.desktop .tablet-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row.desktop .tablet-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row.desktop .tablet-col-6 {
    flex: none;
    width: 50%;
  }
  .row.desktop .tablet-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row.desktop .tablet-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row.desktop .tablet-col-9 {
    flex: none;
    width: 75%;
  }
  .row.desktop .tablet-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row.desktop .tablet-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row.desktop .tablet-col-12 {
    flex: none;
    width: 100%;
  }

  .row > .col.desktop-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row > .col.desktop-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row > .col.desktop-col-3 {
    flex: none;
    width: 25%;
  }
  .row > .col.desktop-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row > .col.desktop-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row > .col.desktop-col-6 {
    flex: none;
    width: 50%;
  }
  .row > .col.desktop-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row > .col.desktop-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row > .col.desktop-col-9 {
    flex: none;
    width: 75%;
  }
  .row > .col.desktop-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row > .col.desktop-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row > .col.desktop-col-12 {
    flex: none;
    width: 100%;
  }

  .row > .col.desktop-auto {
    flex: 1 1 0 !important;
  }

  .row .widescreen {
    padding: 8px 0;
    width: 100%;
  }
}

/* Widescreen */
@media (min-width: 1220px) {
  .row.widescreen {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 0 -8px;
    width: calc(100% + 16px);
  }

  .row.widescreen > .col {
    padding: 8px;
    flex: 1 1 0;
  }

  .row.widescreen > .col-1 {
    width: 8.33333%;
    flex: none;
  }
  .row.widescreen > .col-2 {
    width: 16.66%;
    flex: none;
  }
  .row.widescreen > .col-3 {
    width: 25%;
    flex: none;
  }
  .row.widescreen > .col-4 {
    width: 33.33333%;
    flex: none;
  }
  .row.widescreen > .col-5 {
    width: 41.66667%;
    flex: none;
  }
  .row.widescreen > .col-6 {
    width: 50%;
    flex: none;
  }
  .row.widescreen > .col-7 {
    width: 58.33333%;
    flex: none;
  }
  .row.widescreen > .col-8 {
    width: 66.66667%;
    flex: none;
  }
  .row.widescreen > .col-9 {
    width: 75%;
    flex: none;
  }
  .row.widescreen > .col-10 {
    width: 83.33333%;
    flex: none;
  }
  .row.widescreen > .col-11 {
    width: 91.66667%;
    flex: none;
  }
  .row.widescreen > .col-12 {
    width: 100%;
    flex: none;
  }

  .row.widescreen .mobile-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row.widescreen .mobile-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row.widescreen .mobile-col-3 {
    flex: none;
    width: 25%;
  }
  .row.widescreen .mobile-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row.widescreen .mobile-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row.widescreen .mobile-col-6 {
    flex: none;
    width: 50%;
  }
  .row.widescreen .mobile-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row.widescreen .mobile-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row.widescreen .mobile-col-9 {
    flex: none;
    width: 75%;
  }
  .row.widescreen .mobile-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row.widescreen .mobile-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row.widescreen .mobile-col-12 {
    flex: none;
    width: 100%;
  }

  .row.widescreen .mobile-lg-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row.widescreen .mobile-lg-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row.widescreen .mobile-lg-col-3 {
    flex: none;
    width: 25%;
  }
  .row.widescreen .mobile-lg-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row.widescreen .mobile-lg-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row.widescreen .mobile-lg-col-6 {
    flex: none;
    width: 50%;
  }
  .row.widescreen .mobile-lg-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row.widescreen .mobile-lg-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row.widescreen .mobile-lg-col-9 {
    flex: none;
    width: 75%;
  }
  .row.widescreen .mobile-lg-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row.widescreen .mobile-lg-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row.widescreen .mobile-lg-col-12 {
    flex: none;
    width: 100%;
  }

  .row.widescreen .tablet-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row.widescreen .tablet-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row.widescreen .tablet-col-3 {
    flex: none;
    width: 25%;
  }
  .row.widescreen .tablet-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row.widescreen .tablet-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row.widescreen .tablet-col-6 {
    flex: none;
    width: 50%;
  }
  .row.widescreen .tablet-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row.widescreen .tablet-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row.widescreen .tablet-col-9 {
    flex: none;
    width: 75%;
  }
  .row.widescreen .tablet-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row.widescreen .tablet-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row.widescreen .tablet-col-12 {
    flex: none;
    width: 100%;
  }

  .row.widescreen .desktop-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row.widescreen .desktop-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row.widescreen .desktop-col-3 {
    flex: none;
    width: 25%;
  }
  .row.widescreen .desktop-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row.widescreen .desktop-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row.widescreen .desktop-col-6 {
    flex: none;
    width: 50%;
  }
  .row.widescreen .desktop-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row.widescreen .desktop-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row.widescreen .desktop-col-9 {
    flex: none;
    width: 75%;
  }
  .row.widescreen .desktop-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row.widescreen .desktop-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row.widescreen .desktop-col-12 {
    flex: none;
    width: 100%;
  }

  .row > .col.widescreen-col-1 {
    flex: none;
    width: 8.33333%;
  }
  .row > .col.widescreen-col-2 {
    flex: none;
    width: 16.66%;
  }
  .row > .col.widescreen-col-3 {
    flex: none;
    width: 25%;
  }
  .row > .col.widescreen-col-4 {
    flex: none;
    width: 33.33333%;
  }
  .row > .col.widescreen-col-5 {
    flex: none;
    width: 41.66667%;
  }
  .row > .col.widescreen-col-6 {
    flex: none;
    width: 50%;
  }
  .row > .col.widescreen-col-7 {
    flex: none;
    width: 58.33333%;
  }
  .row > .col.widescreen-col-8 {
    flex: none;
    width: 66.66667%;
  }
  .row > .col.widescreen-col-9 {
    flex: none;
    width: 75%;
  }
  .row > .col.widescreen-col-10 {
    flex: none;
    width: 83.33333%;
  }
  .row > .col.widescreen-col-11 {
    flex: none;
    width: 91.66667%;
  }
  .row > .col.widescreen-col-12 {
    flex: none;
    width: 100%;
  }
}

.splash-screen {
  background: url('../images/brusjan_emblem_white.png');
  background-size: cover;
  background-position: center;
}

.background-wrapper {
  background: url('../images/brusjan_emblem.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
