.w18grrqv{height:100vh !important;padding:120px 0;}
.tnqwukg{font-size:40px;font-weight:800;}
.skw7osv{font-size:20px;font-weight:700;margin-bottom:120px;}
.fp636ta{position:fixed;width:100%;bottom:0;background:black;z-index:9999;color:white;}

.l177p40o{font-size:12px;}
.lckru63{font-size:16px;}
.sues9k5{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;}
.shofged{padding:12px;height:45px;width:45px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-transition-duration:.25s;transition-duration:.25s;}.shofged:hover{background:white;color:black !important;}
