.idq5c13{padding:16px 32px;}
.rhbkr7o{-webkit-align-items:center !important;-webkit-box-align:center !important;-ms-flex-align:center !important;align-items:center !important;}
.cy05exp{height:-webkit-fit-content !important;height:-moz-fit-content !important;height:fit-content !important;}
.w1npwm7v{height:100vh !important;padding:120px 0;}
